// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Open Sans',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #576149;
@c2: #368101;
@green: @c2;
@lightgreen: #91c503;
@yellow: #ffc000;
@blue: #1c80c7;
@lightblue: #82cfff;
@red: #b50000;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.8; // line height primary

// form
@input-size: 18px;
@input-height: 52px;
@input-padding: 15px;
@input-border: #d9d9d9;
@input-bg: fade(@lightgreen,15);

// layout
@content-width-lg: 1740px;
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1780px)";
@dt: ~"(min-width: 1200px) and (max-width: 1779px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";