@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?67854352');
  src: url('../font/icons.eot?67854352#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?67854352') format('woff2'),
       url('../font/icons.woff?67854352') format('woff'),
       url('../font/icons.ttf?67854352') format('truetype'),
       url('../font/icons.svg?67854352#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?67854352#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-arr-down:before { content: '\e808'; } /* '' */
.icon-arr-left:before { content: '\e809'; } /* '' */
.icon-arr-right:before { content: '\e80a'; } /* '' */
.icon-arr-up:before { content: '\e80b'; } /* '' */
.icon-church:before { content: '\e80c'; } /* '' */
.icon-mobile:before { content: '\e80d'; } /* '' */
.icon-monitor:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-spikelet:before { content: '\e812'; } /* '' */
.icon-wave:before { content: '\e813'; } /* '' */
.icon-group:before { content: '\e814'; } /* '' */
.icon-cogs:before { content: '\e815'; } /* '' */
.icon-exclamation:before { content: '\e816'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-home:before { content: '\e819'; } /* '' */
.icon-angle-left:before { content: '\e81a'; } /* '' */
.icon-angle-right:before { content: '\e81b'; } /* '' */
.icon-angle-up:before { content: '\e81c'; } /* '' */
.icon-angle-down:before { content: '\e81d'; } /* '' */
.icon-ok-circled2:before { content: '\e81e'; } /* '' */