
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-arr-down:before { content: '\e808'; } /* '' */
.icon-arr-left:before { content: '\e809'; } /* '' */
.icon-arr-right:before { content: '\e80a'; } /* '' */
.icon-arr-up:before { content: '\e80b'; } /* '' */
.icon-church:before { content: '\e80c'; } /* '' */
.icon-mobile:before { content: '\e80d'; } /* '' */
.icon-monitor:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-spikelet:before { content: '\e812'; } /* '' */
.icon-wave:before { content: '\e813'; } /* '' */
.icon-group:before { content: '\e814'; } /* '' */
.icon-cogs:before { content: '\e815'; } /* '' */
.icon-exclamation:before { content: '\e816'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-home:before { content: '\e819'; } /* '' */
.icon-angle-left:before { content: '\e81a'; } /* '' */
.icon-angle-right:before { content: '\e81b'; } /* '' */
.icon-angle-up:before { content: '\e81c'; } /* '' */
.icon-angle-down:before { content: '\e81d'; } /* '' */
.icon-ok-circled2:before { content: '\e81e'; } /* '' */